<h1>Sale Collections</h1>

<section>
  <article>
    <div class="card">
      <%= render 'sale_collections/form', sale_collection: @sale_collection %>
      <% if !@sale_collections.empty? %>
        <table>
          <thead>
            <tr>
              <th>Collections</th>
              <th colspan="1"></th>
            </tr>
          </thead>

          <tbody>
            <% @sale_collections.each do |sale_collection| %>
              <tr>
                <td><%= sale_collection.collection_title %></td>
                <td><%= link_to sale_collection, method: :delete, data: { confirm: 'Are you sure?' } do %>
                      <i class="icon-trash"></i>
                    <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
    </div>
    <%= link_to 'Show sale', @sale, class: 'button' %>
  </article>
</section>
