<p>
  <strong>Name:</strong>
  <%= @ticket.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @ticket.email %>
</p>

<p>
  <strong>Query:</strong>
  <%= @ticket.query %>
</p>

<%= link_to 'Back to Dashboard', sales_path, class: 'button' %>