<h1 id="sale_title">New Sale</h1>

<section>
	<%= render 'form', sale: @sale %>
</section>
<br>
<%= link_to 'Back to Dashboard', sales_path, class: 'button' %>
<br>
<br>
<% if params[:whole_store] %>
	<script type="text/javascript">
		(function() {
			document.getElementById("sale_sale_target_whole_store").checked = true;
			document.getElementById("sale_title").innerHTML="Create a sale for whole store";
  	})();
	</script>
<% else %>
	<script type="text/javascript">
		(function() {
			document.getElementById("sale_sale_target_specific_collections").checked = true;
			document.getElementById("submit").value = "Choose Collections";
			document.getElementById("whole_store").style.display = "none";
			document.getElementById("sale_title").innerHTML="Create a sale for specific collections";
  	})();
	</script>
<% end %>